Django>=5.0.1
djangorestframework
django-environ
django-cors-headers
django-filter
Pillow
python-dateutil
pytz
djangorestframework-simplejwt

# Optional (only if you use PostgreSQL in production)
# psycopg2-binary

# Developer / build tools should go into dev-requirements.txt
# e.g. virtualenv, pylint, black
